__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
exports/*.csv
exports/*.json
data/exports/*
data/logs/*
data/.env
!data/exports/.gitkeep
!data/logs/.gitkeep
.DS_Store
arrow_*.csv
arrow_*.json
.pytest_cache/
.coverage
htmlcov/
